<div class="container-grid">

  <div class="row">
    <form (ngSubmit)="onSaveMember()" title="Panel dodawania członka grup projektowych">
      <input type="hidden" name="memberId" [(ngModel)]="member.id">
      <label for="memberName">Imię:</label>
      <input type="text" name="memberName" id="memberName" class="form-control" [(ngModel)]="member.name">
      <label for="memberExperience">Poziom doświadczenia Java:</label>
      <select class="form-control" id="memberExperience" [(ngModel)]="member.experience">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <div class="button-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
  <div class="row">
    <p>
    Tabela z członkami grupy "Java projekty"
    </p>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Imię</th>
        <th scope="col">Poziom doswiadczenia</th>
        <th scope="col">Udział w projektach</th> <!-- może kiedyś do dodania /-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of members">
        <td>{{member.id}}</td>
        <td>{{member.name}}</td>
        <td>{{member.experience}}</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
