<p>
  Losowanie grup
</p>


<div class="container-grid">
  <div>
    <button (click)="randomGroup()">Losuj grupy projektowe</button>
  </div>
  <div class="shadow-sm p-4 mb-4 bg-white" *ngFor="let group of groups | keyvalue">
    Grupa {{group.key}}
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Imię</th>
        <th>Doświdczenie Java</th>
      </tr>
      </thead>
      <tbody>
    <tr *ngFor="let member of group.value">
      <td>{{member.name}}</td>
      <td>{{member.experience}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
