/* You can add global styles to this file, and also import other style files */
.container-grid{
  display: grid;
  grid-template-columns: auto;
  margin-right: 20%;
  margin-left: 20%;
  grid-gap: 70px;
}

